<!-- Create a landing page for your app, using Jinja to insert data from your database -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center border-bottom" id="Page_1">
          <h1>Mission to Mars</h1>
          <p>
              <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
          </p>
        </div>
         <!-- Latest Mars news -->
        <div class="row">
          <div class="col-md-12">
              <div class="mars_fact">
                  <h2>Latest Mars News</h2>
                  <p class="mars_title">
                      <h4>{{mars_info.news_title}}</h4>
                  </p>
                  <p class="mars_paragraph">
                      {{mars_info.nasa_paragraph}}
                  </p>
              </div>
          </div>
        </div>
        <!-- Featured Mars images & Table-->
        <div class="row">
            <div class="col-md-8">
                <h2>Featured Mars Image</h2>
                <img src={{ mars_info ['featured_image_url'] }} title="Featured Mars Image" width="100%">
            </div>

         <div class="col-md-4">
            <div class="mars_facts">
                <h4>Mars Facts</h4>
                    {{ mars_info['mars_html_table'] | safe }}
        </div>
    </div>

        <!-- Hemispheres -->
        <div class="row">
            <div class="col-md-12">
                <h2 lass="text-center">Mars Hemispheres</h2>
            </div>
        </div>

        <div class="row">
            {% for hemisphere_image_urls in mars_info.hemisphere_image_urls %}
                <div class="col-md-6">
                    <img src={{ mars_info['hemisphere_image_urls'] }} title="Mars Hemispheres" width="100%"><br>
                    <h3>{{ mars_info['title'] | safe }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>